<div class="review-widget {{ settings.review_section_style }}">
<div id='Areviewsapp' class='page-full'>{%  render 'aliexpress_reviews' , product: product %}</div>

  <!-- INSERT REVIEW WIDGET HERE -->
  
</div>